{% extends "personal/blogheader.html" %}



{% block content %}
<!-- Custom styles for this template -->


  <body>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">اخبار</h1>
        <p class="lead blog-description"></p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

        {% for post in post %}
          <div class="blog-post">
            <h2 class="blog-post-title"> {{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.date}} <a href="/about">IdeaYemen</a></p>
            <p> {{ post.body|safe }} </p>


          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->
      {% endfor %}
{% endblock %}

{% block bar %}
<h3>الأكثر قراءة</h3>
<ol class="list-unstyled">
  <li><a href="/newsarchive">المزيد</a></li>
</ol>
{% endblock %}
